* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #DB202C;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --grayDark: #141414;
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

body {
  --bodyPaddingTopWeb: 94px;
  --bodyPaddingTopMobile: 40px;
  padding-top: var(--bodyPaddingTopWeb);
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTopWeb));
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  body {
    padding-top: var(--bodyPaddingTopMobile);
  }

  #root {
    min-height: calc(100vh - var(--bodyPaddingTopMobile));
  }
}

a {
  color: inherit;
}